* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  border-radius: 15px;
  max-width: 1000px;
  margin: 50px auto;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  }
  
  .column {
    color: #FFE;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px auto 80px;
    padding: 40px 40px;
  }
  
  .sedan {
    background-color: #fa9638;
  }

  .sedan button {
    color: #fa9638;
  }
  
  .suv {
    background-color: #047f95;
  }

  .suv button {
    color: #047f95;
  }
  
  .luxury{
    background-color: #045838;
  }

  .luxury button {
    color: #045838;
  }
  
  button {
    border: grey;
    background: #FFF;
    border-radius: 40px;
    color: transparent;
    font-size: 15px;
    height: 50px;
    width: fit-content;
    padding: 15px 30px;
    font-weight: bold;
    align-self: center;
  }
  
  button:hover {
    background: #dadada;
  }
  
  p {
    opacity: 0.8;
    font-size: 20px;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .icon-wrapper {
    align-self: center;
  }